* {
	box-sizing: border-box;
}
body, html {
	/*height: 100%; Retirado para funcionar o uso do iframeResize.js*/
	width: 100%;
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	margin: 0;
	background-color: #e6e6e6;
	font-size: 62.5%;
	position: relative;
}
.left {float: left;}
.right {float: right}
.d-nn {display: none !important;}
.v-hd {visibility: hidden !important;}
.d-bl {display: block !important;}
*[disabled], .disabled {
	cursor: not-allowed !important;
	opacity: 0.5 !important;
}
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input, textarea, select, *[contenteditable] {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	outline: none
}
/*simula legenda em conteúdo vazio para elementos "contenteditable" com atributo "placeholder"*/
*[contenteditable][placeholder]:empty::before {
	content: attr(placeholder);
	color: #BBBBBB;
}
/*-----  End of Geral  ------*/

.explain {
	font-size: 3em;
	font-family: initial;
}
.center {
	max-width: 900px;
	margin: 0 auto;
}
#box-txt {
	padding: 10px;
	font-size: 1.8rem;
	min-height: 90px;
	max-height: 215px;
	border-top: none;
	border-radius: 0 0 7px 7px;
	overflow: auto;
	resize: none;
	background-color: #ffffff;
}

/* Menu de edição de texto */
.menu-edit {
	min-height: 30px;
	background-color: #c1cdd4;
	text-align: center;
	font-family: sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	color: #BBB;
	padding: 0 15px;
	border: 1px solid #ffffff;
	border-bottom: none;
	border-radius: 7px 7px 0 0;
}
.menu-edit > * {/*Itens filho imediatos*/
	width: 23px;
	padding: 2px;
	margin: 3px 2px;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	color: #4e4e4e;
}
.menu-edit .frmttxt-mn-it.frmttxt-mn-slcndo {/*Destaque para item selecionado (menos os de cor)*/
	/* border: 1px dotted #909090 !important; */
	background-color: #E8E8E8 !important;
}
.menu-edit .frmttxt-mn-it:not([data-frmt="txtcor"]):hover {/*Ao apontar item simples (menos os de cor)*/
	color: #E4D6C2 !important;
	background-color: #656565 !important;
	border: 1px dotted rgba(204, 204, 204, 0.5) !important;
}
.menu-edit .frmttxt-mn-gp:hover {/*Ao apontar item que contém o grupo de subitens - submenu*/
	background-color: #E8E8E8 !important;
}
.menu-edit .frmttxt-mn-gp::after {/*Item de grupo recebe uma seta à direita*/
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #5D5D5D;
	color: inherit;
	content: ' ';
	position: absolute;
	top: 12px;
	left: 21px;
}
.menu-edit .frmttxt-mn-gp .frmttxt-mn-drpdn {/*Conjunto do grupo de subitens - submenu*/
	font-weight: normal;
	max-height: 160px;
	overflow: auto;
	background: #ffffff;
	left: -13px;
	top: 25px;
	margin-top: 0;
	padding: 0;
	border: solid 1px #989898;
	border-top-color: #E0E0E0;
	box-shadow: 2px 4px 10px #989898;
	display: none;
	position: absolute;
	z-index: 1000;
}
.menu-edit .frmttxt-mn-gp .frmttxt-mn-drpdn .frmttxt-mn-it {/*Subitens*/
	border: 1px dotted #D6D6D6;
	border-top: none;
	border-left: none;
	float: left;
}
/*Menu - itens e grupos específicos*/
.menu-edit .extra-frmt .frmttxt-mn-drpdn {
	width: 102px;
}
.menu-edit .extra-frmt .frmttxt-mn-drpdn .frmttxt-mn-it {
	width: 25px;
	height: 23px;
	padding: 3px;
}
.menu-edit .extra-frmt .sobrescrito, .menu-edit .extra-frmt .subscrito {
	font-weight: 500;
}
.menu-edit .extra-frmt .sobrescrito > span, .menu-edit .extra-frmt .subscrito > span {
	color: rgba(0, 0, 0, 0.2);
}
.menu-edit .tipo-lista > span {
	font-size: 14px;
}
.menu-edit .tipo-lista .frmttxt-mn-drpdn {
	width: 52px;
}
.menu-edit .tipo-lista .frmttxt-mn-drpdn .frmttxt-mn-it {
	width: 25px;
	height: 24px;
	padding-top: 5px;
	font-size: 14px;
}
.menu-edit .fonte-tmnho .frmttxt-mn-drpdn {
	width: 62px;
}

/*=====================================
=            Media Queries            =
=====================================*/

@media only screen and (max-width: 920px) {
	.center {
		margin: 5px 20px;
	}
}

/* Small screens */
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*Medium screens*/
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (min-width: 50.000em) { } /* min-width 800px, large screens */

/* Large screens*/
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/*XLarge screens*/
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*XXLarge screens*/
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */

/*IMG Edit*/
@media only screen and (min-width: 768px) { }
/*-----  End of Media Queries -----*/
